# Python
__pycache__/
.venv/

# Secret
*.env
localhost.crt
localhost.key
.gitignore
machine_learning/dataset
mosquitto/data/mosquitto.db
mosquitto/config/dynamic_security.json
mosquitto/config/admin_pw.txt

# VSCode

# Logs
log/

# Frontend
frontend/dist/
frontend/node_modules/

# Data
machine_learning/dataset
machine_learning/processed
ML/RAW.csv
machine_learning/processed/*
machine_learning/dataset
.ipynb_checkpoints/*
machine_learning/.ipynb_checkpoints/*
mosquitto/config/pwfile
mosquitto/data

# NixOS
.envrc
*.nix
.direnv/
