# Python
__pycache__/
*.pkl
.venv/
*.env
machine_learning/dataset

# VSCode
.vscode/

# Logs
log/

# Frontend
frontend/dist/
frontend/node_modules/

# Data
ML/RAW.csv
machine_learning/processed/processed.csv
.ipynb_checkpoints/*
machine_learning/.ipynb_checkpoints/*
mosquitto/config/pwfile
mosquitto/data

# NixOS
.envrc
*.nix
.direnv/
localhost.key
localhost.crt
