# Python
__pycache__/
*.pkl
.venv/
*.env

# VSCode
.vscode/

# Logs
log/

# Frontend
frontend/dist/
frontend/node_modules/

# Data
ML/RAW.csv

# NixOS
.envrc
*.nix
.direnv/
machine_learning/processed/processed.csv
machine_learning/.ipynb_checkpoints/train_model-checkpoint.ipynb
