services:
  backend:
    build:
      context: .
      dockerfile: ./backend.Dockerfile
    volumes:
      - ./backend:/app/backend
      - ./frontend/dist:/app/frontend/dist
    ports:
      - 8080:8080  # Keep access limited to localhost
    depends_on:
      - database
    command: uvicorn --app-dir backend/src app:app --reload --host 0.0.0.0 --port 8080 --ssl-keyfile ./localhost.key --ssl-certfile ./localhost.crt
    environment:
      - DATABASE_URL=postgresql://postgres:secrettest@database:5432/postgres

  frontend:
    build:
      context: .
      dockerfile: ./frontend.Dockerfile
    volumes:
      - ./frontend:/app
      - /app/node_modules # Prevent node_modules overwrite
    ports:
      - 5173:5173  # Keep access limited to localhost
    command: npm run start -- --host 0.0.0.0  # Allow access from all interfaces
    environment:
      - CHOKIDAR_USEPOLLING=true

  database:
    image: postgres:latest
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secrettest
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - 127.0.0.1:5432:5432

  mqtt-broker:
    image: eclipse-mosquitto:latest
    container_name: mosquitto
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
    ports:
      - 127.0.0.1:1883:1883
      - 2043:2043
    stdin_open: true
    tty: true
