SECRET_KEY=0-32 random characters
MOSQUITTO_DYNSEC_PASSWORD=0-32 random characters
MQTT_BROKER_HOSTNAME=<mqtt-broker or localhost>
DATABASE_URL=postgresql://postgres:secrettest@database:5432/postgres
